<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey Admin,</h1>
    <p>
      The user <%= @contact_name %> | % <%= @contact_email %>,
      has the following query:
    </p>
    <p>
        <%= @contact_query %>
    </p>
    <p>You should reply back to them.</p>
  </body>
</html>