<div class="main-page-body">
    <h2> Admin | Dashboard </h2>
    <p> Welcome! <%= session[:username] %>, carry out admin tasks below:</p>

    <%= link_to "Add a New Product", new_product_path, {:class => "btn btn-primary"} %>

<br><br><br><br><br><br>

</div>