<h2>Create User Account</h2>
<%= form_for User.new do |f| %>

<%= f.text_field :username, placeholder: 'Enter a Username', class: 'form-control' %>
<%= f.password_field :password, placeholder: 'Create a Password' %>
<br>
<%= f.submit 'Create Account', class:"btn btn-primary" %>
<% end %>