/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&display=swap');


 
html, p, h3{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

 .logoContrainer{
     margin: 0 auto;
     text-align: center;
     background: #c0bcd5;
 }

 .side-by-side-flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .space-around-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .center-no-marg{
     margin: 0 auto;
     padding: 0;
     text-align: center;
 }

 #prod-cat{
     color: #733c87;
     background: #c0bcd5;
     margin-left: 2rem;
     position: relative;
     font-size: 2rem;
     padding: 0.5rem;
     z-index: 2;
     font-family: 'Anton', sans-serif;
     transform: skew(-7deg);
 }

 #prod-cat:hover{
    background: #733c87;
    color: #c0bcd5;
    cursor: pointer;
}