/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&display=swap');


 
html, p, h3{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

/* HEADER CSS */
 .logoContrainer{
     margin: 0 auto;
     text-align: center;
     background: #c0bcd5;
 }

 #main-nav{
     background: #c0bcd5 !important;
     margin-bottom: 1rem;
 }

 #main-nav > li > a {
     color: #733c87;
 }

 #main-nav{
     display: flex;
     justify-content: flex-start;
 }

 #main-nav > li > a:hover {
    color: white;
    cursor: pointer;
}


 .nav-link{
     text-transform: uppercase;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
 }

 #navbarDropdownMenuLink{
     color: white;
 }

 .dropdown{
     list-style: none;
 }

 .nav-link a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.5rem;
 }

 .nav-link a:hover, .dropdown-menu a:hover{
    color: #733c87;
    text-decoration: none;
 }

 #nav-username{
     color: white;
     font-size: 1rem;
 }

 #bottom-nav{
     overflow: hidden;
     bottom: 0;
     width: 100%;
     padding-top: 0.5rem;
     min-height: calc(100% - 285px);
     clear: both;
     margin-top: 100px;
 }

 #bottom-nav-links li > a{
     font-size: 1rem;
 }

 .bottom-nav-title{
     color: #c0bcd5;
     text-decoration: none;
 }

 .bottom-nav-title-container{
    text-decoration: none; 
    list-style: none;
 }

 #bottom-nav-tagline{
     color: white;
     text-decoration-style: wavy;
 }

 #copy-right-credits{
     text-align: center;
     color: white;
     margin: 0 auto;
 }

 /* GENERIC AND POSITIONAL*/
 .side-by-side-flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .space-around-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 .center-no-marg{
     margin: 0 auto;
     padding: 0;
     text-align: center;
 }

 .fancy-text-highlight{
     color: #733c87;
     font-weight: bold;
 }

 .fancy-highlight{
    color: #733c87;
    font-style: italic;
 }

 .main-page-body{
     margin: 0 auto;
     max-width: 1080px;
 }

 .remove-a-tag{
    color: #c0bcd5;
    text-decoration: none;
 }

 .remove-a-tag:hover{
    color: #733c87;
 }

 /* INDEX CS */

 .homepage-banner-container img{
    max-width: 100vw;
    margin-top: -45rem;
    z-index: -10;
    position: absolute;
 }

 #row-1-blurb p, #row-1-blurb h1, #row-1-blurb a{
    margin: 2rem;
 }

 #row-1-blurb h1{
     font-family: 'Montserrat', sans-serif;
     color: black;
 }

 #main-row-2{
     margin-top: 2rem;
 }

 /* ABOUT US */

 #row-1-aboutus{
     background-image: url("sheff.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }

/* PRODUCTS CSS */
 #prod-cat{
     color: #733c87;
     background: #c0bcd5 !important;
     margin-left: 2rem !important;
     position: relative !important;
     font-size: 2rem !important;
     padding: 0.5rem !important;
     z-index: 2 !important;
     font-family: 'Anton', sans-serif !important;
     transform: skew(-7deg) !important;
     width: fit-content !important;
 }

.fancy-divider{
    color: #733c87;
    font-weight: 3rem;
    margin: 0 1rem 0 1rem;
}

.product-container{
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 5px grey;
}

.product-image{
    width:100%;
    height: 250px;
    object-fit: scale-down;
}

.prod-control{
    background: #733c87;
    color: #c0bcd5;
    margin-left: 2rem;
    position: relative;
    font-size: 1.2rem;
    padding: 0.5rem;
    z-index: 2;
    font-family: 'Anton', sans-serif;
    transform: skew(-7deg);
}

.prod-control:hover{
    color: #733c87;
    background: #c0bcd5;
    cursor: pointer;
    text-decoration: none;
}

.product-controls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* SINGLE PRODUCT CSS */

.product-full-container{
    margin: 2rem;
}

/* LOGIN/SignUp */

#user_username, #user_password{
    width: 60%;
}

/* Reviews */
