<h1>Add a New Product to the system</h1>
<p>Fill out the form below:</p>

<form id="contactForm">
<div class="form-group">
    <label for="inputName">Product Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter Your Name">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>